<div class="main-content mt-10" style="color: white; ">
    <!-- Header -->


    <!-- Cards -->
    <div class="p-grid flex">
        <!-- Users Card -->
        <div class="col-3 p-0 md-3">
            <div class="dashboard-card p-3" style="background-color: #6C63FF;">
                <div class="flex justify-content-between align-items-center mb-1">
                    <div>
                        <h3>26K (-4.4% ↓)</h3>
                        <span class="mt-2">Users</span>
                    </div>
                    <i class="pi pi-chart-line" style="font-size: 2.5rem; color: white;"></i>
                </div>
                <div id="users-chart" style="height: 200px;width: 280px;"></div> <!-- الرسم البياني الأول -->
            </div>
        </div>

        <!-- Income Card -->
        <div class="col-3 p-0 md-3">
            <div class="dashboard-card p-3 ml-2" style="background-color: #42A5F5;">
                <div class="flex justify-content-between align-items-center mb-1">
                    <div>
                        <h3>$6,200 (40.9% ↑)</h3>
                        <span class="mt-2">Income</span>
                    </div>
                    <i class="pi pi-dollar" style="font-size: 2.5rem; color: white;"></i>
                </div>
                <div id="income-chart" style="height: 200px;width: 280px;"></div> <!-- الرسم البياني الثاني -->
            </div>
        </div>

        <!-- Conversion Rate Card -->
        <div class="col-3 p-0 md-3">
            <div class="dashboard-card p-3 ml-2" style="background-color: #FFCA28;">
                <div class="flex justify-content-between align-items-center mb-1">
                    <div>
                        <h3>2.49% (84.7% ↑)</h3>
                        <span class="mt-2">Conversion Rate</span>

                    </div>
                    <i class="pi pi-percentage" style="font-size: 2.5rem; color: white;"></i>
                </div>
                <div id="conversion-rate-chart" style="height: 200px;width: 280px;"></div> <!-- الرسم البياني الثالث -->
            </div>
        </div>

        <!-- Sessions Card -->
        <div class="col-3 p-0 md-3">
            <div class="dashboard-card p-3 ml-2" style="background-color: #EF5350;">
                <div class="flex justify-content-between align-items-center mb-1">
                    <div>
                        <h3 >44K (-23.6% ↓)</h3>
                        <span class="mt-2">Sessions</span>

                    </div>
                    <i class="pi pi-chart-bar" style="font-size: 2.5rem; color: white;"></i>
                </div>
                <div id="weather-chart" style="height: 200px; width: 280px;"></div>
            </div>
        </div>
    </div>

</div>