<div class="bg-blue-nav">
    <div class="flex">
        <!-- Sidebar Section -->
        <div class="col-2 sidebar h-full-component border-right-1 border-white border-50">
            <div class="flex align-items-center mt-aline ">
                <img width="50" height="50" class="border-circle" src="assets/imgs/icons8-dashboard-80.png" alt="">
                <div>
                    <h2 class="text-white ml-2">DashMaster</h2>
                </div>
            </div>
            <div class="flex align-items-center justify-content-between flex-column h-full">
                <div class="w-side-nav my-0">
                    <div (click)="sidenav(true)"
                        class="item hover-item text-white p-3 my-3 border-round cursor-pointer flex">
                        <h4><i class="pi pi-chart-line p-mr-2"></i> Dashboard</h4>
                    </div>
                    <div (click)="sidenav(false)"
                        class="item hover-item text-white p-3 my-3 border-round cursor-pointer flex">
                        <h4><i class="pi pi-users p-mr-2"></i> Users</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content Section -->
        <div class="col-10 content">
            <!-- Pass the currentSection to NavBoardComponent -->
            <app-nav-board ></app-nav-board>

            <!-- Dynamic Content Based on SideNav -->
            <div *ngIf="sideNav">
                <app-usersdashboard></app-usersdashboard>
                <app-usertable></app-usertable>
                <app-traffic-chart></app-traffic-chart>
            </div>
            <div *ngIf="!sideNav">
                <app-search-users></app-search-users>
                <app-usertable></app-usertable>
            </div>
        </div>

    </div>
</div>