<div class=" main-content mt-3 w-full h-fit border-round">
  <div class="small-content ">
    <div class="padding-spasific">
    <h2>Traffic</h2>
    <p class="text-500">January - July 2023</p>

    <!-- <div echarts [options]="chartOptions" class="chart" style="height: 400px; width: 100%;"></div> -->
    <div id="chart" style="height: 270px;width: 100%;"></div></div>
    <div class="statistics padding-spasific border-round-bottom">
      <div class="stat-item">
        <h3>Visits</h3>
        <p class="text-500">29,703 Users <span>(40%)</span></p>
        <p-progressBar [value]="40" [style]="{ height: '6px', 'background-color': 'var(--color-progres)' }"
          [styleClass]="'custom-progress-bar'"></p-progressBar>
      </div>
      <div class="stat-item">
        <h3>Unique</h3>
        <p class="text-500">24,093 Users <span>(20%)</span></p>
        <p-progressBar [value]="20" [style]="{ height: '6px', 'background-color': 'var(--color-progres)' }"
          [styleClass]="'custom-progress-bar'"></p-progressBar>
      </div>
      <div class="stat-item">
        <h3>Pageviews</h3>
        <p class="text-500">78,706 Views <span>(60%)</span></p>
        <p-progressBar [value]="60" [style]="{ height: '6px', 'background-color': 'var(--color-progres)' }"
          [styleClass]="'custom-progress-bar'"></p-progressBar>
      </div>
      <div class="stat-item">
        <h3>New Users</h3>
        <p class="text-500">22,123 Users <span>(80%)</span></p>
        <p-progressBar [value]="80" [style]="{ height: '6px', 'background-color': 'var(--color-progres)' }"
          [styleClass]="'custom-progress-bar'"></p-progressBar>
      </div>
      <div class="stat-item">
        <h3>Bounce Rate</h3>
        <p class="text-500">40.15% <span>(50%)</span></p>
        <p-progressBar [value]="40.15" [style]="{ height: '6px', 'background-color': 'var(--color-progres)' }"
          [styleClass]="'custom-progress-bar'"></p-progressBar>

      </div>
    </div>
  </div>
</div>