/* تخصيص شريط التمرير في Firefox */

.main-content {
  flex-grow: 1;
  padding: 14px;
}

/* إضافة تأثير hover على td */
.overflow-hidden {
  overflow: hidden;
  position: relative;
}

.custom-table {
  width: 100%;
  table-layout: fixed;
  border: 0px !important;
  margin: 0;
}

tr {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center;
}



/* لإخفاء أي تجاوز أفقي */
p-table {
  max-width: 100%;
  overflow-x: hidden;
  table-layout: fixed;
}

* {
  box-sizing: border-box;
}

.custom-table th {
  background-color: var(--bg-th);
  color: var(--text-color);
  padding: 10px;
  text-align: left;
}

.custom-table td {
  padding: 10px;
  background-color: var(--bg-td);
  color: var(--text-color);
  border: 0px !important;
  /* border-bottom: 1px solid #444; */
}


.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name {
  font-weight: bold;
}

.user-status {
  font-size: 12px;
  color: var(--text-user);
}

/* شارة النشاط */
.user-activity {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  margin-top: 5px;
  display: inline-block;
  left: 10%;
}

/* لون الحالة */
.user-activity.onlin {
  background-color: rgb(0, 179, 0);
  /* أخضر */
  color: white;
}

.user-activity.offlin {
  background-color: #dc3545;
  /* أحمر */
  color: white;
}

.usage-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.online {
  background-color: rgb(0, 179, 0) !important;
  color: white !important;
  width: 70px !important;
  height: 38px !important;
  padding: 10px;
  text-align: center;
}

.offline {
  background-color: rgb(253, 14, 14) !important;
  color: white !important;
  width: 70px !important;
  height: 38px !important;
  text-align: center;
  padding: 10px;
}

.progress-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* مسافة صغيرة بين النص وشريط التقدم */
}

.progress-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--text-color);
  /* لون النص */
}

::-webkit-scrollbar-thumb {
  background: #484f61 !important;
}

:host ::ng-deep .p-progressbar-label {
  display: none !important;
  border: 0px;
}

:host ::ng-deep .custom-progress-bar .p-progressbar {
  background-color: #2d2f36 !important;
  border: 0px;
  border-radius: 3px !important;
}
:host ::ng-deep .p-datatable > .p-datatable-wrapper {
  overflow: hidden;
  /* border-radius: 12px !important; */
  border: 0px;
  border-radius: 12px 12px 0 0 !important;
}

tr {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center;
  border: 0px; /* يبقي التكبير في منتصف العنصر */
}

tr:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: 0px !important;
}

::-webkit-scrollbar {
  display: none; /* إخفاء شريط التمرير في المتصفحات التي تدعمه */
}

tr:hover {
  transform: scale(1.001);
  border: 0px !important; /* تقليل التكبير بشكل أكبر */
}

.text-center {
  text-align: center;
}

.text-light {
  color: #bbb;
  font-size: 1.2rem;
  font-weight: bold;
}
::ng-deep .p-paginator {
  background-color: var(--bg-paginator);
  border-radius: 0 0 12px 12px; /* حواف مستديرة */
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  margin: 0 4px; /* مسافة بين الصفحات */
  border-radius: 50%; /* صفحات دائرية */
  width: 32px;
  height: 32px;
}
