<div class=" w-fitt w-screen " >
  <div class="header p--2">
    <div [ngClass]="{ 'justify-content': isArabicLanguage }" class="p-4 flex align-content-center" >
     <div [ngClass]="{ 'm-r': isArabicLanguage&&isMenuOpen }"> 
      <h2 class="mt-2" [ngClass]="{ 'flex-row-reverse': isArabicLanguage }">
      <i
      class="ml-1 mt-1"
        [ngClass]="isMenuOpen ? 'pi pi-times' : 'pi pi-align-justify'"
        (click)="toggleSidebar()"
        style="font-size: 1.2rem; cursor: pointer"
      >
      </i>
      {{ currentSection }}
    </h2></div>
      <div class="header-icons flex align-items-center">
       
   
      </div>
    </div>
  </div>
  <!-- Breadcrumb -->
  <div class=" mb-4 sec-header" [ngClass]="{ 'flex-row-reverse': isArabicLanguage,'m-r': isArabicLanguage&&isMenuOpen  }">
    <div class="p-4">
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    </div>
  </div>
</div>
