.main-content {
  flex-grow: 1;
  padding: 14px;
}

:host ::ng-deep .p-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.p-text-light {
  color: rgba(255, 255, 255, 0.7);
}

.dashboard-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #1c1c1c;
  min-height: 100vh;
}

.sidebar-logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.sidebar-menu li {
  margin: 15px 0;
  color: #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-menu li i {
  font-size: 1.2rem;
}

.sidebar-menu li:hover {
  color: white;
}

.main-content {
  flex-grow: 1;
  padding: 14px;
}


.header {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-bottom: #cccccca4 0.5px solid;
}
.p--2{
padding: 2.5px;
}
.sec-header {
  border-bottom: #cccccca4 0.5px solid;
  background-color: var(--bg-color);
}
.w-fitt {
  /* width: 100% !important; */
  z-index: 10000;
  position: fixed;
}
.header-icons img {
  border-radius: 50%;
}
:host ::ng-deep .p-breadcrumb a {
  color: var(--text-color) !important;
  text-decoration: none !important; /* إذا كنت تريد إزالة الخط السفلي */
}

/* لون النص عندما يكون العنصر غير نشط */
:host ::ng-deep .p-breadcrumb .p-breadcrumb-chevron {
  color: var(--text-color) !important;
  text-decoration: none !important;
}

/* تخصيص العنصر النشط */
:host ::ng-deep .p-breadcrumb .p-menuitem-text {
  color: var(--text-color) !important;
}

/* عند التمرير (Hover) */
:host ::ng-deep .p-breadcrumb a:hover {
  color: var(--hover-color) !important;
  text-decoration: none !important;
}
.justify-content {
  justify-content: flex-end !important; /* يجعل المحتوى يتحرك إلى النهاية */
}

.m-r {
  margin-right: 17.66666% !important; /* يضيف مسافة إلى اليمين */
}
.m-l {
  margin-left: 2px !important; /* يضيف مسافة إلى اليمين */
}

.flex-row-reverse {
  display: flex; /* يضمن استخدام Flexbox */
  flex-direction: row-reverse; /* يعكس اتجاه العناصر */
}


.d-flex {
  display: flex; /* لتفعيل تخطيط flexbox */
}
