.main-content {
  flex-grow: 1;
  padding: 14px;
}
.small-content {
  padding: 14px;
  background-color: var(--bg-color);
  border-radius: 8px;
  color: var(--text-color);
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
